.heroImage {
  background:  transparent url('../img/heroImage.png') no-repeat;
  background-position: center;
  background-size: cover;
  height: 568px;
  width: 100%;
}

.heroImage-check {
  background:  transparent url('../img/heroImage-check.png') no-repeat;
  background-position-x: 100%;
  background-size: contain;
  height: 265px;
  width: 100%;
}

.title {
  background: transparent url('../img/Magas-Vinials.png') no-repeat;
  background-size: cover;
  display: inline-block;
  height: 60px;
  left: 24px;
  margin: 0; 
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  top: 30px;
  white-space: nowrap;
  width: 30%;
}

.title-check {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 20px;
  margin: 0
}

/* Medias */
@media (min-width: 375px) {
  .heroImage {
    height: 667px;
  }
  .title {
    height: 72px;
  }
}

@media (min-width: 414px) {
  .heroImage {
    height: 736px;
  }
}

@media (min-width: 768px) {
  .heroImage {
    height: 1024px;
  }
  .heroImage-check {
    height: 819px;
  }
  .title {
    height: 141px;
    left: 42px;
    top: 44px;
  }
}

@media (min-width: 1440px) {
  .heroImage {
    background:  transparent url('../img/heroImage-desktop.jpg') no-repeat;
    height: 1024px;
  } 
  .heroImage-check {
    background:  transparent url('../img/heroImage-checkDesktop.png') no-repeat;
    background-position-x: 80%;
    background-position-y: 100px;
    height: 758px;
    width: 100%;
  }
  .title {
    background-size: cover;
    height: 300px;
    left: 82px;
    top: 233px;
    width: 32%;
  }
}