.heroImage {
  background:  transparent url('../img/heroImage-mobile1.jpg') no-repeat;
  height: 568px;
  width: 100%;
}

.header__title-magas {
  background: transparent url('../img/Maga’s-mobile.png') no-repeat;
  display: inline-block;
  left: 21px;
  margin: 0; 
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  top: 25px;
  width: 40%;
  white-space: nowrap;

}

.header__title-vinals {
  background: transparent url('../img/Vinals-mobile.png') no-repeat;
  display: inline-block;
  margin: 0; 
  left: -78px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  top: 65px;
  width: 30%;
  white-space: nowrap;
}

.title {
  margin: 0;
}


/* Medias */
@media (min-width: 375px) {
  .heroImage {
    background:  transparent url('../img/heroImage-mobile2.jpg') no-repeat;
    height: 667px;
  }
}

@media (min-width: 414px) {
  .heroImage {
    background:  transparent url('../img/heroImage-mobile3.jpg') no-repeat;
    height: 736px;
  }
}

@media (min-width: 768px) {
  .heroImage {
    background:  transparent url('../img/heroImage-tablet.jpg') no-repeat;
    height: 1024px;
  }
}