.btn-search {
  background-color: #FF7F50;
  border: 0;
  border-radius: 5px;
  color: #160560;
  font-weight: bold;
  padding: 8px;
}

form {
  text-align: center;
}

.input__img {
  position: relative;
  right: 40px;
  top: 4px;
}

.search {
  background-color: transparent;
  border: 1px solid #F4A026;
  color: #F4A026;
  font-size: 16px;
  margin:20px 10px 15px 10px;
  padding: 5px;
  width: 128px;
}

.search::-webkit-input-placeholder {
  color: #F4A026;
}